<html>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Add message</a>
    <a href="/">Show messages</a>
        <p><b><%= message.text %></b> by <%= message.user %></li>
</p>
        <p>Added on <%= message.added.toLocaleString() %></p>
  </body>
</html>
